name: Java CI with Gradle

on:
  push:
    # version bump + build + publish
    branches: ["master"]
  pull_request:
    # tests + build
  workflow_dispatch:
    # manual trigger for testing, like pull_request

jobs:
  
  lint:
    runs-on: ubuntu-latest
    # gradle linting
    # dockerfile linting
    # md linting
    # MegaLinter?

  security-check:
    runs-on: ubuntu-latest
    # Trivy scan
    # TruffleHog scan

  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    - name: Run tests
      run: ./gradlew test --no-daemon

  build-and-sign:
    runs-on: ubuntu-latest
    needs: ['lint', 'security-check', 'tests']
    if: github.ref == 'refs/heads/master'
    # Sign JAR
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Bump version
        run: #

      - name: Commit version bump [skip ci]
        run: #

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Create SBOM
        run: ./gradlew createSbom --no-daemon

      - name: Sign files with Cosign
        uses: docker://gcr.io/projectsigstore/cosign:latest

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifact
          path: build/libs/*.jar

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: sbom-artifact
          path: build/sbom/*.spdx.json


  docker_publish:
    runs-on: ubuntu-latest
    needs: build-and-sign
    if: github.ref == 'refs/heads/master'
    steps:
        - name: Download JAR artifact
          uses: actions/download-artifact@v4
          with:
            name: jar-artifact
            path: build/libs/

        - name: Download SBOM artifact
          uses: actions/download-artifact@v4
          with:
            name: sbom-artifact
            path: build/sbom/
    # Build Docker image
    # Trivy scan
    # publish SBOM
    # Push to Docker Hub

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      
